@model SkillFolio.Models.Event

@{
    ViewData["Title"] = @Model.Title;
}

<div class="row">
    <div class="col-md-8 offset-md-2">
        <h1 class="display-4 text-primary">@Model.Title</h1>
        <p class="lead text-muted">Kategori: @Model.Category.Name</p>
        <hr />

        <div class="mb-4">
            <a href="@Model.SourceLink" target="_blank" class="btn btn-lg btn-success">
                <i class="fas fa-external-link-alt"></i> Etkinliğe Katıl!
            </a>
        </div>

        <h3>Açıklama</h3>
        <p class="text-break">@Model.Description</p>

        <dl class="row mt-4 border p-3 rounded bg-light">
            <dt class="col-sm-4">@Html.DisplayNameFor(model => model.SourceLink)</dt>
            <dd class="col-sm-8"><a href="@Model.SourceLink" target="_blank">@Model.SourceLink</a></dd>

            <dt class="col-sm-4">@Html.DisplayNameFor(model => model.DatePosted)</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.DatePosted)</dd>
        </dl>
    </div>
</div>

<div class="mt-4">
    <a asp-action="Edit" asp-route-id="@Model?.EventId" class="btn btn-warning">Düzenle</a> |
    <a asp-action="Index" class="btn btn-secondary">Tüm Etkinliklere Geri Dön</a>
</div>